
body {
    background-image: url(../img/fon.jpg);
    margin: 0;
    padding: 0;
    color: grey;
}
header {
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
    max-width: 1150px;
    min-height: 100px;
}
article {
    margin: 0px auto;
    max-width: 1150px;
}
.logo {
    display: flex;
    padding-top: 20px;
    text-transform: lowercase;
    font-size: 15px;
    color: coral;
    font-style: italic;
}
h1 {
    font-size: 100px;
    text-transform: uppercase;
    margin-bottom: 0px;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    text-transform: lowercase;
    color: gray;
    padding-top: 66px;
}
nav ul > li {
    padding-left: 20px;
}
article p {
    
    max-width: 470px;
    padding-top: 30px;
}
.button {
    margin-top: 30px;
    color: white;
    width: 150px;
    height: 40px;
    background-color: coral;
    border: 1px solid gray;
    border-radius: 20px;
}
.button:hover {
    cursor: pointer;
    opacity: 0.8;
}

